.cover-image {
	position: relative;
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	object-fit: cover;
}

.cover-image::before {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background-color: rgba(0,0,0,0.25);
}

.inner-cover {
	border-radius: 15px;
	text-align: center;
	color: #F9F8F8;
	text-shadow: 0 1px 3px rgba(0,0,0,2);
	padding: 30px;
	vertical-align: middle;
	background-color: rgba(50,42,38,0.75);
}

.btn-homepage-login {
	padding: 10px 20px;
	color: #F9F8F8;
	font-weight: bold;
}