{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Records{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		{% for coll in coll_names %}
			{% for db_coll in db_collections if db_coll.facetedTitle == coll %}
			<div class="col-3">
				<div class="card {% if db_coll.objectType == 'object' %}text-bg-primary{% elif db_coll.objectType == 'specimen' %}text-bg-success{% endif %}">
					<img src="{{ url_for('static', filename='images/cards/')}}{{db_coll.facetedTitle}}.jpg" class="card-img-top" alt="" />
					<div class="card-body">
						<h5 class="card-title">{{db_coll.title}}</h5>
						<h6 class="card-subtitle mb-2 text-muted">Last harvested {{db_coll.lastHarvested|e}}</h6>
						<ul class="list-group list-group-flush">
							<li class="list-group-item"><strong>{{db_coll.totalImages}}</strong> total images</li>
							<li class="list-group-item"><strong>{{db_coll.loadedImages}}</strong> images loaded</li>
							<li class="list-group-item"><strong>{{db_coll.includedImages}}</strong> images included</li>
							<li class="list-group-item"><strong>{{db_coll.excludedImages}}</strong> images excluded</li>
						</ul>
						{% if admin == true %}
						<form method="post">
							<div class="form-check">
								<input class="form-check-input" type="radio" value="additive" id="{{db_coll.facetedTitle}}-addtoharvest" checked>
								<label class="form-check-label" for="{{db_coll.facetedTitle}}-addtoharvest">Add new items</label>
							</div>
							<div class="form-check">
								<input class="form-check-input" type="radio" value="destructive" id="{{db_coll.facetedTitle}}-redoharvest">
								<label class="form-check-label" for="{{db_coll.facetedTitle}}-redoharvest">Re-run from scratch</label>
							</div>
							<button class="btn btn-primary" type="submit">Harvest</button>
						</form>
						{% endif %}
					</div>
					<div class="card-footer"><a href="/view/{{db_coll.facetedTitle}}">View {{db_coll.title}} records</a></div>
				</div>
			</div>
			{% else %}
			<div class="col-3">
				<div class="card border-light opacity-75">
					<img src="{{ url_for('static', filename='images/cards/')}}{{coll}}.jpg" class="card-img-top" alt="" />
					<div class="card-body">
						<h5 class="card-title">{{coll}}</h5>
						<h6 class="card-subtitle mb-2 text-muted">Not harvested</h6>
					</div>
					{% if admin == true %}
					<div class="card-footer"><a href="/harvest/{{coll}}">Harvest this collection</a></div>
					{% endif %}
				</div>
			</div>
			{% endfor %}
		{% endfor %}
	</div>
</div>
{% endblock %}