<div class="col-3">
  <div class="card" style="max-width: 540px;" id="card-{{record.irn}}">
    <div class="overlay-container">
      {% for image in record.media %}
        {% if loop.first %}
          <img class="card-img-top" src="https://media.tepapa.govt.nz/collection/{{image.irn}}/thumb" alt="{{record.title|e}}" />
        {% endif %}
      {% endfor %}
      <div class="img-overlay">
        {% if record.media|length == 1 %}
        {% for image in record.media %}
          <button type="button" class="img-overlay-choice deselect-record" id="select-{{image.irn}}-n" onclick="saveSelection('/view/select', {{record.irn}}, {{image.irn}}, 'n', 'card')">Exclude</button>
          <button type="button" class="img-overlay-choice select-record" id="select-{{image.irn}}-y" onclick="saveSelection('/view/select', {{record.irn}}, {{image.irn}}, 'y', 'card')">Include</button>
        {% endfor %}
        {% else %}
          <button type="button" class="img-overlay-choice overlay-modal-trigger" data-bs-toggle="modal" data-bs-target="#select-modal-{{record.irn}}" id="select-{{record.irn}}-modaltrigger">Check {{record.media|length}} images</button>
        {% endif %}
      </div>
    </div>
    <div class="select-indicator {% if record.include == 'y' %}indicate-include{% elif record.include == 'n' %}indicate-exclude{% else %}indicate-none{% endif %}"></div>
    <div class="card-body">
      <h5 class="card-title">{{record.title|e|truncate(40, True, "...", 0)}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{record.irn}}</h6>
      <div id="badgecount-{{record.irn}}">
         <span class="badge rounded-pill text-bg-dark">{% for image in record.media %}{% if loop.last %}{% set count_im = loop.index %}{{count_im}} total{% endif %}{% endfor %}</span>
        <span class="badge rounded-pill text-bg-primary">{% for image in record.media if image.include == 'y' %}{% if loop.last %}{% set count_im = loop.index %}{{count_im}} included{% endif %}{% endfor %}</span>
        <span class="badge rounded-pill text-bg-warning">{% for image in record.media if image.include == 'n' %}{% if loop.last %}{% set count_im = loop.index %}{{count_im}} excluded{% endif %}{% endfor %}</span>
      </div>
      <p class="card-text">
        <strong>{{record.dateLabel|e}}:</strong> {{record.dateValue|e}}
      </p>
      <p class="card-text">
        <strong>{{record.personLabel|e}}: </strong>{% if record.people %}{% for person in record.people %}{{person.title|e}} {% endfor %}{% else %}Unknown{% endif %}
      </p>
    </div>
  </div>
</div>