<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %} – Picker</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- Bootstrap CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

  <!-- CSS
  -------------------------------------------------- -->
  {% if view == "list" or view == "cards" %}
  <link href="{{ url_for('static', filename='css/imageoverlay.css') }}" rel="stylesheet">
  {% endif %}
  <link href="{{ url_for('static', filename='css/picker.css') }}" rel="stylesheet">

  <!-- Bootstrap JS and Popper
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>

  <!-- JS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="{{ url_for('static', filename='js/global.js') }}"></script>
  {% if view == "list" or view == "cards" %}
  <script src="{{ url_for('static', filename='js/picker.js') }}"></script>
  {% endif %}

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/beaker.ico') }}">

</head>
<body>
<nav class="navbar bg-light navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="{{ url_for('static', filename='images/squirrel.svg') }}" alt="Picker home" width="24" height="24" class="d-inline-block align-text-top" /> Picker
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" id="proj-dropdown">{% if g.current_project != none %}{{ g.current_project["title"]|e }}{% else %}Select a project{% endif %}</a>
          <ul class="dropdown-menu">
            {% if g.current_project %}
              {% for proj in db_projects %}
                {% if proj.id == g.current_project["id"] %}
                  <li><a class="dropdown-item choose-proj" disabled id="proj-{{proj.id}}">{{proj.title|e}}</a></li>
                {% else %}
                  <li><a class="dropdown-item choose-proj" id="proj-{{proj.id}}" onclick="changeProject({{proj.id}})">{{proj.title|e}}</a></li>
                {% endif %}
              {% endfor %}
            {% else %}
              {% for proj in db_projects %}
                <li><a class="dropdown-item choose-proj" id="proj-{{proj.id}}" onclick="changeProject({{proj.id}})">{{proj.title}}</a></li>
              {% endfor %}
            {% endif %}
          </ul>
        </li>
        <li class="nav-item" hidden>
          <span id="collection-faceted-name">{{recordData.collection}}</span>
        </li>
        {% if view == "list" or view == "cards" %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">{{recordData.coll_title}}</a>
            <ul class="dropdown-menu">
              {% for coll in coll_names %}
                {% for db_coll in db_collections if db_coll.facetedTitle == coll %}
                  <li><a class="dropdown-item" href="/view/{{db_coll.facetedTitle}}">{{db_coll.title}}</a></li>
                {% else %}
                  <li><a class="dropdown-item no-harvest text-muted" disabled>{{coll}}</a></li>
                {% endfor %}
              {% endfor %}
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link{% if view == 'cards' %} active{% endif %}" href="/view/{{recordData.collection}}/cards">Make selections</a>
          </li>
          <li class="nav-item">
            <a class="nav-link{% if view == 'list' %} active{% endif %}" href="/view/{{recordData.collection}}/list">View list</a>
          </li>
          <li class="nav-item">
            <a class="nav-link helptext-toggle" data-bs-toggle="modal" data-bs-target="#helptext">How to pick</a>
          </li>
        </ul>
        {% endif %}
        {% if g.user %}
          <span class="navbar-text pe-2">{{ g.user['username'] }}</span>
          <a class="nav-link" href="{{ url_for('auth.logout') }}">Log Out</a>
        {% endif %}
    </div>
  </div>
</nav>

  {% block content %}
  {% endblock %}

<div class="modal fade" tabindex="-1" id="helptext" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title fs-5">How to pick images</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h3>Save selections from the collections</h3>
        <p>This tool lets you work through records in each of Te Papa's collections, saving the records and images you want to include in your project. When you've picked everything you want, you can export a CSV file that includes the record and image IRNs for your selections.</p>
        <p>This tool shows records that have images associated in EMu, and only if those images are:</p>
        <ul>
          <li>Published</li>
          <li>Freely downloadable</li>
          <li>At least 2500px wide on their shortest side</li>
        </ul>
        <p>Collections need to be harvested before you can select from them. If a collection you want to review isn't available, talk to Lucy.</p>
        <h3>Cards</h3>
        <p>The card view shows you four records at a time. When you mouse over each one, it'll either let you click to include or exclude the image (if it's the only one on the record), or to open a pop-up that lets you decide what to do with each image.</p>
        <p>When you've included or excluded everything on those four records, the page will refresh, giving you four more until the whole collection's been reviewed.</p>
        <h3>List</h3>
        <p>The list view shows you the status of every record in the collection, including how many images they have and whether they've been checked. Click the filter buttons to narrow down the list or click [thing] to make your selections.</p>
        <h3>Need a hand?</h3>
        <p>Talk to Lucy if something's broken, you want some help or a new project set up, or want to provide some feedback.</p>
      </div>
    </div>
  </div>
</div>
</body>
</html>