<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Review some thumbnails</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/skeleton.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="/static/images/favicon.png">

</head>
<body>
  <div class="container">
    <h1>Observe the thumbnails</h1>
    <div class="row">
      <div class="one-half column">
        <h2>Save data</h2>
        <div>
          <form method="post" enctype="multipart/form-data">
            <label for="irn_list">Paste in a list of IRNs</label>
            <textarea id="irn_list" name="irn_list" rows="10" cols="33"></textarea>
            <input type="submit" value="Go get data" />
          </form>
        </div>
        {% if source_id %}
          <p>Data saved as <a href="/{{source_id}}">{{source_id}}_saved_dataset.json!</a></p>
        {% endif %}
      </div>
      <div class="one-half column">
        <h2>Load data</h2>
        <p>And another form here to load a data file.</p>
      </div>
    </div>

      {% if records %}
      <div class="row">
        {% for record in records %}
        <div class="one-third column" id="{{record.IRN}}">
          <div class="slider">
            {% for i in record.number_of_images %}
              <img src="/static/thumbs/{{record.IRN}}_{{record.image_0.image_0_irn}}.jpg" style="width:100%" />
            {% endfor %}
          </div>
          <h2>{{record.title|e}}</h2>
          <p class="caption">{{record.creator|e}}, {{record.date|e}}</p>
          <p>
            {% for tag in record.isMadeOf %}
            {{tag|e}} | 
            {% endfor %}
          </p>
        </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</body>
</html>